body {
    margin: 0; 
    font-family: sans-serif; 
    background-image: url(img/8.jpg); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center center; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.contenido3 {
    display: table; 
    justify-content: center; 
    align-items: center; 
    margin: auto; 
    border-radius: 8px; 
    box-shadow: 0 0 10px #0d0d0d; 
    padding: 10px; 
    width: 28%; 
    text-align: center; 
    background-color: rgba(255, 255, 255, 0.7);
}

h1 {
    text-align: center; 
    color: bl; 
}

.form-contenido {
    border-radius: 8px; 
    padding: 20px; 
    width: 500px; 
    text-align: left; 
}

.form-imagen {
    width: 100px; 
    height: auto; 
    margin-bottom: 20px; 
    display: block;
    margin: auto;
}

.CreacionCuenta {
    display: flex; 
    flex-direction: column; 
    gap: 5px; 
}

.CreacionCuenta input {
    flex: 1; 
    padding: 10px; 
    border: 1px solid #ff0000; 
    border-radius: 4px; 
}

.btnGuardar {
    display: block; 
    margin: 20px auto 0; 
    border-radius: 100px;
    background-color: #ff0000;
    color: white;
    font-size: 16px;
    cursor: pointer;
    padding: 10px 100px;
}

.btnGuardar:hover {
    background-color: #0f52ba; 
}

footer {
    width: 100%;
    background: linear-gradient(to right, var(--blue), var(--black));
    color: var(--white);
    text-align: center;
    padding: 20px;
}
